<!DOCTYPE html>
<html>
<head>
    <title>hitRunMan</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/styles/common.css"/>
    <style>
        body{
            background-color: #000000;
        }
        audio{
            position: absolute;
            visibility: hidden;
            top: 0;
        }
    </style>
</head>
<body>
<div style="margin: 0;display: none">
    <img src="http://7u2min.com1.z0.glb.clouddn.com/snowman.png" alt="logo"/>
</div>
<audio id="bgm" autoplay="autoplay" loop="loop"></audio>


</body>
<script src="/bower_components/pixi.js/bin/pixi.js"></script>
<script>
    var resourcePosition = "<%= position %>";
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a61537bee7d71f57e278cded44ffdf0b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<% if(env==='product'){%>
<script src="/dist/hitRunManIndex.js"></script>
<% }else{ %>
<script src="http://localhost:7301/public/dist/hitRunManIndex.js"></script>
<% } %>

</html>

