<!DOCTYPE html>
<html>
<head>
    <title>人言带你打年兽</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/style/newyear.css"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var configString = '<%- JSON.stringify(config) %>'
        var config = JSON.parse(configString)
        wx.config(config)
    </script>
    <style>
        body{
            /*background-color: #ffffff;*/
        }
        audio{
            position: absolute;
            visibility: hidden;
            top: 0;
        }
    </style>
    <script>
        window.mymonster = JSON.parse('<%- JSON.stringify(mymonster) %>')
        window.enemymonster = JSON.parse('<%- JSON.stringify(enemy) %>')
        window.user = JSON.parse('<%- JSON.stringify(user) %>')
    </script>
</head>
<body>
<!--<div style="margin: 0;display: none">-->
    <!--<img src="http://7u2min.com1.z0.glb.clouddn.com/snowman.png" alt="logo"/>-->
<!--</div>-->
<audio id="bgm" autoplay="autoplay" loop="loop"></audio>


</body>
<script src="/bower_components/pixi/bin/pixi.min.js"></script>

<% if(env==='product'){%>
<script src="/dist/common.js"></script>
<script src="/dist/main.js"></script>
<% }else{ %>
<script src="http://localhost:7301/public/dist/common.js"></script>
<script src="http://localhost:7301/public/dist/main.js"></script>
<% } %>

</html>

