<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        var configString = '<%- JSON.stringify(config) %>'
        var config = JSON.parse(configString)
        wx.config(config)
    </script>
    <style>
        body{
            background-color: #000000;
        }
        audio{
            position: absolute;
            visibility: hidden;
            top: 0;
        }
    </style>
</head>
<body>
<button style="width:50%; height:100%" onclick='a()'>start</button>
<button style="width:50%; height:100%" onclick='b()'>stop</button>
<button style="width:50%; height:100%" onclick='c()'>play</button>

</body>
<script type="text/javascript" charset="utf-8">
    var localId
    var a = function() {
        wx.startRecord();
    }
    var b = function() {
        wx.stopRecord({
            success: function (res) {
                console.log(res)
                localId = res.localId;
            }
        });
    }
    var c = function() {
        wx.playVoice({
            localId: localId // 需要播放的音频的本地ID，由stopRecord接口获得
        });
        d()
    }

    var d = function() {
        wx.translateVoice({
            localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                alert(res.translateResult); // 语音识别的结果
            }
        })
    }
</script>
</html>

